.content-page {
    margin: 4em 1em;
    justify-content: center;
}

.container {
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 0.5em;
}

.card {
    border-radius: 4px;
    display: flex;
    flex: 1 1 20rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid grey;
    padding: 0.5em;
}
.footer-card {
    display: flex;
    align-items: center;
}
button {
    margin-bottom: auto;
}
.container-filtered-btns {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
}
.filtered-btn {
    margin: 1em;
    flex: 1 1 auto;
}

.clicked {
    background: green;
    margin: 1em;
    flex: 1 1 auto;
}

img {
    max-width: 100%;

    object-fit: cover;
}

.checked {
    background: black;
}

@media screen and (min-width: 768px) {
    .item {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        // width: 30%;
    }
    img {
        object-fit: cover;
    }
}
