@import '../../global.scss';

h3 {
   margin-top: 0;
}

.form-card {
   background-color: white;
   border-radius: 5px;
   padding: 1.2em;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   // width: 40%;
   // max-width: 400px;
   @include media-query(smartphone) {
      width: 300px;
   }
   @include media-query(tablet) {
      width: 400px;
   }

   @include media-query(desktop) {
      width: 450px;
   }
   justify-content: center;
   margin: auto;
}

.disabled {
   background-color: grey;
}

.input-group {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 0.9em;
   position: relative;
   margin: 2%;
   @include media-query(smartphone) {
      width: 100%;
   }

   label {
      margin-bottom: 0.6em;
      height: 1em;
      width: fit-content;
      display: flex;
      align-items: center;
      font-size: small;
   }
   input {
      padding: 0.6em;
      border: 1px solid #ccc;
      border-radius: 3px;
   }
}

.input-form[type='date'] {
   min-width: 162px;
}
.input-row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.footer-form {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 1em; /* Ajustez selon vos besoins */
}

.error-message {
   font-size: small;
   color: red;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

button {
   width: 100%;
   margin: 2%;
}
